/* BostonCartesia.css */
.IPG {
  flex: 1;
}

.Elmodel-center {
  flex: 1;
  margin-left: -85px;
  margin-right: -100px;
}

.right-contacts {
  flex: 1;
  margin-top: 275px;
}

.left-contacts {
  flex: 1;
  margin-top: 140px;
}

.container {
  display: flex;
  /* justify-content: space-between; */
  width: 100%; /* Set the desired width */
  height: 100%; /* Set the desired height */
}

.container2 {
  width: 33%; /* Set the desired width */
  height: 100%; /* Set the desired height */
  margin-right: 0px;
}
.image-item {
  display: inline-block;
  position: relative;
  margin-top: -35px; /*This is setting the distance between the contacts
  /* top: -100px; */

}

.image {
  width: 500px; /* Adjust the width and height as needed */
  height: 500px;
}

.Elmodel-center .image-item .triple-toggle {
  position: absolute;
  top: 0px;
  left: -5px;
  z-index: 1;
}

.triple-toggle-ipg {
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 1;
}
.triple-toggle {

  position: absolute;
  top: 0px;
  left: -5px;
  z-index: 1;
}

.left-color .ellipse-fill {
  /* background-color: transparent; */
  fill: transparent;
}
.center-color {
  /* background-color: green; */
  fill: rgba(229, 40, 40, 0.41);
  /* Change the background color for the 'center' position */
}

.right-color {
  /* background-color: blue; */
  fill: rgba(50, 50, 244, 0.411);
  /* Change the background color for the 'right' position */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -100px;
  /* height: 130px;
  width: 230px; */
  height: 200px;
  width: 200px;
  /* margin: -10px; */
  row-gap: 100px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.export-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.import-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.export-button:hover {
  background-color: #0056b3;
}

.file-input {
  display: none;
}

/* Style for the file input label */
.file-input + label {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.file-input + label:hover {
  background-color: #0056b3;
}

.active-button {
  background-color: green; /* Set your desired active color */
  color: white;
}

.inactive-button {
  background-color: red; /* Set your desired inactive color */
  color: white;
}


.image-key {
  position: absolute;
  font-size: large;
  z-index: 1000;
  top: 500px;
  left: 100px;
}

.left-image-name {
  position: absolute;
  /* font */
  top: 80px;
  left: 55px;
  z-index: 20;
}

.center-image-name {
  position: absolute;
  z-index: 1000;
  left: 55px;
  top: 80px;
}

/* .image-item {
  height: 200px;
  width: 200px;
} */

/* Style for the buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #355c8f; /* Change to your desired button color */
  color: #ffffff; /* Text color for the buttons */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.isAssistedButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #72a9f2; /* Change to your desired button color */
  color: #ffffff; /* Text color for the buttons */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005f8d; /* Change to a slightly different color for hover effect */
}

/* Style for the div containers */
.button-container {
  border: 2px solid #0c0c0c;
  /* Border color for the divs */
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #222121; /* Background color for the divs */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  /* Add a subtle shadow */
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.steering-container {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 1px;
}

/* .ClockwiseArrow {
  transform: translateY(50%) translateX(-50%);
} */
.UpArrow:hover,
.DownArrow:hover,
.ClockwiseArrow:hover,
.CounterClockwiseArrow:hover {
  fill: rgb(176, 209, 224); /* Change the fill color on hover to red, you can adjust to your desired color */
}

