input[type="radio"] {
  display: none;
}

label {
  color: white;
  z-index: 10;
  cursor: pointer;
}

.perc-h4 {
  margin: 0;
  font-weight: 500;
}

.black-font {
  color: black !important;
}

.assist-main-container {
  display: inline-block;
  vertical-align: middle;
  width: 165px;
  height: 50px;
  border-radius: 100px;
  background-color: #4d4d4d;
  position: absolute;
  top: 20%;
  left: 45%;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.assist-switch {
  height: 44px;
  width: 80px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
  left: 3px;
  top: -7px;
  transition: ease-in;
}

/*---------------- LEFT ------------------- */

.assist-switch.leftRightAssist {
  animation-name: leftRightAssist;
  animation-duration: 0.5s;
}

.assist-switch.left-assist-position {
  left: -5px;
}

.assist-left-label {
  position: absolute;
  left: 5px;
}

#left + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  border-radius: 100px;
}

#left:checked + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  border-radius: 100px;
}

@keyframes leftRightAssist {
  from {
    left: -5px;
  }
  to {
    left: 70px;
  }
}

/* ------------------- RIGHT ------------------- */
.assist-switch.rightLeftAssist {
  animation-name: assistRightLeft;
  animation-duration: 0.5s;
}

.assist-switch.right-assist-position {
  left: 70px;
}

.assist-right-label {
  position: absolute;
  right: 5px;
}

#right + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  border-radius: 100px;
}

#right:checked + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  border-radius: 100px;
}

@keyframes assistRightLeft {
  from {
    left: 70px;
  }
  to {
    left: -5px;
  }
}
